{% extends 'base.html' %}
{% block title %}home{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset2">
        <div class="post">
            <h3>
                Intro
            </h3>
            <p>
                I'm an engineer and computer musician at <a href="http://ccrma.stanford.edu">CCRMA</a>, <a href="http://www.stanford.edu">Stanford</a>. Check out what I've been upto since coming here in September 2011
            </p>
            <h3>
                Current
            </h3>
            <p>
                Currently, I'm working on some Machine Learning through Andrew Ng's lecture videos and notes and hope to combine it with some spectral DSP for better pitch detection and source separation. This will be up in Experiments soon!
            </p>
            <h3>
                This Website
            </h3>
            <p>
                I built this website using Django, Twitter Bootstrap, jQuery and jQuery plugins. It has been tested and verified to work on Chrome 24, Safari 6 and Firefox 18. It uses CSS3 so older versions might not work as intended. t
            </p>
            <!-- <h3>
                <a href="/projects/">Projects</a>
            </h3>
            <p>
                Here you can find videos, descriptions, source codes for most of my projects. You can also check out the actual product if it's ready through the links here.
            </p>
            <h3>
                <a href="/experiments/">Experiments</a>
            </h3>
            <p>
                This is where I put up some of my code that is either in progress or in a very rudimentary state with lots of potential
            </p>
            <h3>
                <a href="/performances/">Performances</a>
            </h3>
            <p>
                This is where you can see video recordings of the performances I have done over the past year
            </p>
            <h3>
                <a href="/compositions/">Compositions</a>
            </h3>
            <p>
                This is where you can see and hear some of my compositions made for my Jazz Guitar lessons
            </p>
            <h3>
                <a href="/music/">Recordings</a>
            </h3>
            <p>
                These are some of the doodlings on guitar that I have made in the past few years. This section is a little sparse on new content because I keep injuring my wrists (twice in the last year) in bike accidents hich renders me unable to play for months
            </p> -->
            
            <h3>
                Contact
            </h3>
            <p>
                You can reach me through <a href="mailto:mayank@ccrma.stanford.edu" target="_blank">email</a>
            </p>            
        </div>
    </div>
    <div class="span2">
    </div>
</div>

{% endblock %}
