{% extends 'base.html' %}
{% block title %}Links{% endblock %}

{% block content %}

<p>
	Guitar Learning Resources
</p>

<p>
	<a href="http://www.tedgreene.com">TedGreene</a> - The definitive site to go to for inspiration and tips about chord melody on guitar.<br/>
	<a href="http://bopland.org/find-lick.html">BopLand</a> - A great site for finding bop licks over a chord progression that you can enter.<br/>
	<a href="http://www.nylonguitarist.com/">NylonGuitarist</a> - Learn flamenco step by step using these videos<br/> 

<p>
	Guitar Learning Resources
</p>

<a href="http://www-acroe.imag.fr">ACROE</a> - Association pour la Création et la Recherche sur les Outils d'Expression (Grenoble)<br/>
<a href="http://ccrma-www.stanford.edu">CCRMA</a> - Center for Computer Research in Music and Acoustics (Stanford University)<br/>
<a href="http://www.cnmat.berkeley.edu">CNMATConceptTune</a> -  - Center for New Music and Audio Technologies (University of California, Berkeley)<br/>
<a href="http://www-crca.ucsd.edu">CRCA</a> - Center for research in Computing and the Arts (University of California, San Diego)<br/>
<a href="http://www.create.ucsb.edu">CREATE</a> - Center for Research in Electronic Art Technology (University of California, Santa Barbara)<br/>
<a href="http://www.daimi.aau.dk/~diem">DIEM</a> - Danish Institute of Electroacoustic Music (University of Aarhus)<br/>
<a href="http://www.grame.fr">GRAME</a> - Centre National de Cr&eacute;ation Musicale (Lyon)<br/>
<a href="http://www.ircam.fr">IRCAM</a> - Institut de Recherche et Coordination Acoustique/Musique (Paris)<br/>
<a href="http://www.media.mit.edu">Media Lab</a> - Media Laboratory (Massachusetts Institute of Technology, Cambridge)<br/>
<a href="http://www.iua.upf.es/mtg/eng/">MTG</a> - Music Technology Group (Pompeu Fabra University, Barcelona)<br/>
<a href="http://www.music.princeton.edu">Princeton</a> - Princeton University, Department of Music<br/>
<a href="http://www.csl.sony.fr">SONY CSL</a> - SONY Computer Science Laboratories, Inc. (Paris)<br/>
<a href="http://www.steim.nl">STEIM</a> - Studio for Electro-Instrumental Music (Amsterdam)<br/>


<p>Software</p>
    
<a href="http://www.ableton.com">Ableton</a> - Live<br/>
<a href="http://www.audiosynth.com">Audiosynth</a> - SuperCollider<br/>
<a href="http://www.bias-inc.com">Bias</a> - Peak<br/>
<a href="http://www.celemony.com">Celemony</a> - Melodyne<br/>
<a href="http://www.csounds.com">Csounds</a> - Csound<br/>
<a href="http://www.cycling74.com">Cycling'74</a> - Max/MSP, Jitter, Pluggo<br/>
<a href="http://www.emagic.de">Emagic</a> - Logic Audio<br/>
<a href="http://www.nativeinstruments.de">Native Instruments</a> - Reaktor, Dynamo, Absynth, Kontakt, Battery, Traktor<br/>
<a href="http://www.propellerheads.se">Propellerhead</a> - Reason, ReBirth, ReCycle, ReWire<br/>
<a href="http://www.pure-data.org">Pure Data</a> - Pure Data (pd)<br/>

{% endblock %}
